p
{
    font-family: 'Trirong';
    font-size: 2vh;
}

.contact-container
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.individual-contact
{
    margin: 6vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-name
{
    color: rgb(119, 151, 255);
    background-color: transparent;
    font-size: 4vh;
}

.link-container
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-link
{
    margin: 2vw;
    padding: 1vh;
    border-radius: 2vh;
    font-size: 3vh;
    font-family: 'Trirong';
    text-decoration: none;
    color: rgb(119, 151, 255);
    transition: color 1s linear, background-color 1s linear; 
    -moz-transition: color 1s linear, background-color 1s linear; 
    -webkit-transition: color 1s linear, background-color 1s linear;
    -ms-transition: color 1s linear, background-color 1s linear;
}

.error-link:hover
{
    color: rgb(81, 81, 255);
    background-color: rgb(217, 227, 255);
}