.products-page-wrapper
{
    display: inline-block;
    justify-content: center;
}


/* ----------------------------------------------------------------------------------- */
/* ----------------------------------- FILTER CSS ------------------------------------ */
/* ----------------------------------------------------------------------------------- */

.filter-wrapper
{
    width: 80vw;
    color: rgb(68, 68, 68);
    padding-bottom: 0.1vh;
}

.filter-button
{
    display: flex;
    padding: 0.7vh 1vh 0.5vh 1vh;
    border: 0;
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
    font-size: 1.8vh;
    color: rgb(68, 68, 68);
    background-color: white;
    transition: color 0.7s linear, background-color 0.5s linear; 
    -moz-transition: color 0.7s linear, background-color 0.5s linear; 
    -webkit-transition: color 0.7s linear, background-color 0.5s linear;
    -ms-transition: color 0.7s linear, background-color 0.5s linear;
}

.filter-button:hover
{
    background-color: rgb(255, 225, 187);
}

hr.filter-top-line
{
    margin: 0;
    padding: 0;
    border: 0.1vh solid rgb(97, 152, 255);
    opacity: 1;
}

.spacer
{
    padding: 0.5vh;
}

.detail-row
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.6vh;
}

.detail-category
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1.8vh;
    color: rgb(52, 123, 255);
}

.specific-detail
{
    display: flex;
    align-content: center;
    padding-left: 1.4vh;
    font-size: 1.6vh;
    color: rgb(68, 68, 68);
    --form-control-color: rgb(97, 152, 255);
}

input[type="checkbox"] 
{
    display: grid;
    place-content: center;
    margin: 0;
    border: 0.3vh solid currentColor;
    border-radius: 0.2vh;
    width: 1.8vh;
    height: 1.8vh;
    transform: translateY(0.21vh);
    appearance: none;
    background-color: #fff;
}
  
input[type="checkbox"]::before 
{
    place-content: center;
    width: 0.8vh;
    height: 0.8vh;
    transform: scale(0);
    transition: 100ms transform ease-in-out;
    -moz-transition: 100ms transform ease-in-out; 
    -webkit-transition: 100ms transform ease-in-out;
    -ms-transition: 100ms transform ease-in-out;
    box-shadow: inset 1vh 1vh var(--form-control-color);
    content: "";
}
  
input[type="checkbox"]:checked::before 
{
    transform: scale(1);
}

.checkbox-label
{
    margin-left: 0.25vh;
}

hr.filter-bot-line
{
    margin: 0;
    margin-bottom: 1vh;
    padding: 0;
    border: 0.1vh solid rgb(97, 152, 255);
    opacity: 1;
}


/* ----------------------------------------------------------------------------------- */
/* -------------------------------- PRODUCT CARDS CSS -------------------------------- */
/* ----------------------------------------------------------------------------------- */

.all-product-cards
{
    /* will need adaptive resizing for other devices */
    width: 80vw;
    padding-left: 0.75vw;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}

.product-wrapper
{
    margin: 0.25vh;
    border: 0.2vh solid black;
    padding: 0;
}

.product-link
{
    text-decoration: none;
}

.product-card
{
    margin: 0.25vh;
    border: 0;
    border-radius: 1vh;
    padding: 0.7vh;
    width: 18.725vh;
    height: 26vh;
    background-color: white;
    transition: color 0.7s linear, background-color 0.5s linear; 
    -moz-transition: color 0.7s linear, background-color 0.5s linear; 
    -webkit-transition: color 0.7s linear, background-color 0.5s linear;
    -ms-transition: color 0.7s linear, background-color 0.5s linear;
}

.product-card:hover
{
    background-color: rgb(255, 225, 187);
}

.product-img
{
    border-radius: 0.7vh;
    width: 17vh;
    height: 14vh;
}

.card-text
{
    margin-top: 1.2vh;
}

.product-name
{
    margin-bottom: 0.1vh;
    font-size: 1.6vh;
    color: rgb(97, 152, 255);
}

.product-desc
{
    margin: 0;
    font-size: 1.3vh;
    color: rgb(68, 68, 68);
}


/* ----------------------------------------------------------------------------------- */
/* ----------------------- CONTACT AND APPLY FILTER BUTTON CSS ----------------------- */
/* ----------------------------------------------------------------------------------- */

.contact-button-wrapper
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vh;
}

.contact-button, .apply-filter-button
{
    text-decoration: none;
    border: 0;
    border-radius: 1vh;
    padding: 0.7vh;
    font-size: 1.6vh;
    background-color: #ffffff;
    transition: color 0.7s linear, background-color 0.5s linear; 
    -moz-transition: color 0.7s linear, background-color 0.5s linear; 
    -webkit-transition: color 0.7s linear, background-color 0.5s linear;
    -ms-transition: color 0.7s linear, background-color 0.5s linear;
}

.contact-button:hover, .apply-filter-button:hover
{
    background-color: rgb(255, 225, 187);
}

.contact-button:active, .apply-filter-button:active
{
    background-color: rgba(201, 220, 255, 0.87);
    transition: none;
}

.contact-text
{
    margin: 0 1vh 0 1vh;
    color: rgb(97, 152, 255);
}

.apply-filter-button
{
    margin-bottom: 1vh;
    padding: 0.7vh 1.2vh 0.7vh 1.2vh;
    color: rgb(97, 152, 255);
}