.dropdownbutt
{
    display: flex;
    background-color: transparent;
    z-index: 0;
    justify-content: center;
    align-items: center;
}

.dropdownimg
{
    position: relative;
    z-index: -1;
    height: 1vh;
}

.sidebar-products-container
{
    display: flex;
}

.sidebar
{
    display: block;
}

.dropdownbutt
{
    width: 15vw;
}

.prod-cards
{
    display: flex;
}

.pcard
{
    width: 10vw;
}