@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Trirong:wght@500&display=swap');

h1, h2, .navbar
{
    font-family: 'Trirong';
}

h1
{
    font-size: 8vh;
    color: rgb(97, 152, 255);
}

h2
{
    font-size: 6vh;
    width: fit-content;
    color: rgb(68, 68, 68);
    background-color: rgb(97, 152, 255);
}

.title
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 82vh;
}

.scrolldiv
{
    background-color: rgb(238, 226, 212);
}

.scrolldiv:hover
{
    background-color: rgb(224, 209, 192);
}

.scrolldown
{
    transform: rotate(90deg);
    width: 3vw;
    filter: opacity(0.5) drop-shadow(0 0 0 rgb(97, 152, 255));
}

.homecats
{
    background-color: white;
    padding: 10vh;
}


.homeprod
{   
    font-size: 5vh;
    font-family: "Trirong";
    color: rgb(68, 68, 68);
    background-color: rgb(97, 152, 255);
    text-decoration: none;
}



/* navbar css */

.navbar
{
    /* font-size: 2vh; */
    background-color: rgb(238, 226, 212);
    transition: background-color 2s linear; 
    -moz-transition: background-color 2s linear;  
    -webkit-transition: background-color 2s linear; 
    -ms-transition: background-color 2s linear;
}

.nav-item
{
    padding: 0 0.5vw 0 0.5vw;
    text-align: left;
}

.home-button
{
    /* font-size: 3vh; */
    padding-left: 0.5vw;
    color: rgb(113, 123, 255);
}

.nav-link
{
    color: rgb(113, 123, 255);
}

.home-button:hover, .nav-link:hover
{
    color: rgb(147, 197, 255);
}

.scrolled
{
    background-color: rgb(194, 241, 255);
    color: white;
}