@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Trirong:wght@500&display=swap');

h1, h2, .navbar
{
    font-family: 'Trirong';
}

h1
{
    font-size: 9vh;
    color: rgb(97, 152, 255);
}

h2
{
    font-size: 7vh;
    width: fit-content;
    color: rgb(68, 68, 68);
    background-color: rgb(97, 152, 255);
}

.title
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 86vh;
}

.scrolldiv, .scrolldiv2
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    background-color: rgb(238, 226, 212);
    transition: background-color 0.4s linear; 
    -moz-transition: background-color 0.4s linear;  
    -webkit-transition: background-color 0.4s linear; 
    -ms-transition: background-color 0.4s linear;
}

.scrolldiv:hover
{
    background-color: rgb(224, 209, 192);
}

.scrolldown
{
    transform: rotate(90deg);
    width: 3vw;
    filter: opacity(0.5) drop-shadow(0 0 0 rgb(97, 152, 255));
}

.homecats
{
    height: 86vh;
    background-color: rgb(255, 253, 247);
    padding: 15vh;
}

.homeprod
{   
    height: fit-content;
    font-size: 6vh;
    font-family: "Trirong";
    color: rgb(68, 68, 68);
    background-color: rgb(97, 152, 255);
    text-decoration: none;
    transition: color 1s linear, background-color 1s linear; 
    -moz-transition: color 1s linear, background-color 1s linear; 
    -webkit-transition: color 1s linear, background-color 1s linear;
    -ms-transition: color 1s linear, background-color 1s linear;
}

.homeprod:hover
{   
    color: rgb(40, 126, 175);
    background-color: rgb(194, 241, 255);
}

.product
{
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    font-family: "Trirong";
    text-decoration: none;
    color: rgb(111, 202, 255);
    transition: filter 0.5s linear, color 0.5s linear; 
    -moz-transition: filter 0.5s linear, color 0.5s linear; 
    -webkit-transition: filter 0.5s linear, color 0.5s linear;
    -ms-transition: filter 0.5s linear, color 0.5s linear;
}

.product:hover
{
    /* color: rgb(40, 126, 175); */
    filter: opacity(0.5) drop-shadow(0 0 0 rgb(173, 175, 179));
}

.product>img
{
    width: 35vw;
}

.prodcontainer
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.scrolldiv2
{
    background-color: rgb(194, 241, 255);
}

.scrolldiv2:hover
{
    background-color: rgb(164, 220, 236);
}

.about
{
    height: 98vh;
    background-color: aquamarine;
}