.navbar
{
    font-size: 2vh;
    background-color: rgb(223, 197, 124);
    transition: background-color 1s linear; 
    -moz-transition: background-color 1s linear;  
    -webkit-transition: background-color 1s linear; 
    -ms-transition: background-color 1s linear;
}

.nav-logo
{
    width: 1.5vw;
}

.nav-logo:hover
{
    filter: invert(0) opacity(0.5) drop-shadow(0 0 0 rgb(161, 23, 67));
}

.navbar-toggler-icon
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggler-image
{
    width: 100%;
    filter: invert(0) opacity(1) drop-shadow(0 0 0 rgb(0, 0, 0));
}

.nav-item
{
    padding: 0 0.5vw 0 0.5vw;
    text-align: left;
}

.home-button
{
    /* font-size: 3vh; */
    padding-left: 0.5vw;
    color: rgb(0, 0, 0);
}

.nav-link
{
    color: rgb(0, 0, 0);
}

.home-button:hover, .nav-link:hover
{
    color: rgb(161, 23, 67);
}

.dropdown>.show
{
    color: rgb(161, 23, 67);
}

.scrolled
{
    background-color: rgb(194, 241, 255);
    color: white;
}

.bot
{
    background-color: rgb(238, 226, 212);
}

.footer
{
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(238, 226, 212);
    color: rgb(141, 141, 158);
}